@model List<ShowBookInterfaceVM>

@for (int i = 0; i < Model.Count; i++)
{
    <div class="templatemo_product_box">
        <img id="new-ticket" src="images/new-icon-27.jpg">
        @{
            var book = Model[i];
        }

        <h1>@book.Name</h1>
        <img id="book-img" src="~/book-images/@book.Image" alt="book image" />
        <div class="product_info">
            <p>
                @book.About;
            </p>
            <h3>@Model[i].Price AZN</h3>
            <div class="buy_now_button"><a asp-controller="Books" asp-action="Order" asp-route-id="@book.Id">Sifariş Et</a></div>
            <div class="detail_button"><a asp-controller="Books" asp-action="About" asp-route-id="@book.Id">Ətraflı</a></div>
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>
}
@section lbrImage {
    <div id="library-img" href="subpage.html"><img src="~/images/library-banner.jpg" id="library-img" alt="library-img" /></div>
}

<script>
    //window.location.href = 'https://localhost:5001/Admin/Dashboard/Book';
</script>