@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


 @model (List<BookModel>,List<SelectListItem>,List<SelectListItem>)

<div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-xs-6">
                    <h2>Kitab</h2>
                </div>
                <div  class="col-xs-6">
                    <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                        <i class="material-icons">&#xE147;</i> <span>Əlavə et</span>
                    </a>
                    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
                        <i class="material-icons">&#xE15C;</i> <span>Sil</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="center-div" style="overflow-x:auto;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad</th>
                        <th>Müəllif</th>
                        <th>Dil</th>
                        <th>Səhifə sayı</th>
                        <th>Kateqoriya</th>
                        <th>Haqqında</th>
                        <th>Qiymət</th>
                        <th>Buraxılış Tarixi</th>
                        <th>Ölçü</th>
                        <th>Şəkil</th>
                        <th>Dəyiş/Sil</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Item1)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Author</td>
                            <td>@item.Languages</td>
                            <td>@item.PageCount</td>
                            <td>@item.Category</td>
                            <td>
                                @if (@item.About.Length > 20)
                                {
                                    @item.About.Substring(0,20)
                                }
                                else
                                {
                                    @item.About
                                }
                                ...
                            </td>
                            <td>@item.Price</td>
                            <td>@item.Release_Date.ToShortDateString()</td>
                            <td>@item.Size</td>
                            <td>
                                @if (@item.ImageUrl.Length > 5)
                                {
                                    @item.ImageUrl.Substring(0,5)
                                }
                                else
                                {
                                    @item.ImageUrl
                                }
                                ...
                            </td>
                            <td>
                                <a asp-route-id="@item.Id" asp-action="EditBook" class="edit">
                                    <i class="material-icons"
                                   data-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a asp-route-id="@item.Id" asp-action="DeleteById" class="delete">
                                    <i  class="material-icons"
                                   data-toggle="tooltip" title="Delete">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="~/Areas/Admin/Views/Shared/Partials/Book/AddBook.cshtml" model="(new BookModel(),Model.Item2,Model.Item3)"></partial>
<partial name="~/Areas/Admin/Views/Shared/Partials/Book/DeleteBook.cshtml"></partial>
<partial name="~/Areas/Admin/Views/Shared/Partials/Book/EditBook.cshtml" model="(new BookModel(),Model.Item2,Model.Item3)"></partial>